.github/
.vscode/
.venv/
data/*
data/alertsRegistry.json
__pycache__/
audio/_uploads
audio/_previews
audio/static
audio/alerts/
voices/*
logs/*
twc.yaml
.env
managed/configs/webhooks.xml
managed/configs/feeds.xml
managed/configs/cwxr-feeds.xml
managed/receiver_credentials.json
